{% extends "base.html" %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
{% endblock %}

{% block content %}
<div class="row" id="login-dashboard">
    <div class="column grid_12">
        <h1>pythonbrasil login</h1>
        <p>{% trans "In order to pay your registration for attending to PythonBrasil[8] or to propose a talk, an account is required. Please, log in or sign up, if you don't have an account yet." %}</p>

        <div class="login">
            <h2>{% trans "Log In" %}</h2>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn" type="submit">{% trans "Log In" %}</button>
            </form>
        </div>
        <div class="register">
            <h2>{% trans "Don't have an account yet? Sign Up now!" %}</h2>
            <form method="post" action="{% url registration_register %}">
                {% csrf_token %}
                {{ registration_form.as_p }}
                <button class="btn" type="submit">{% trans "Sign Up" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
