{% extends "dashboard/base.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/registration.css" />
{% endblock %}

{% block content %}
<div class="row" id="registration">
    <div class="column grid_12">
        <h1>{% trans "Password change" %}</h1>
        <p>{% trans "Please fill the form below to change your password:" %}</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">{% trans "Send" %}</button>
        </form>
    </div>
</div>
{% endblock %}
