{% extends "base.html" %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/registration.css" />
{% endblock %}

{% block content %}
<div class="row" id="registration">
    <div class="column grid_12">
        <h1>{% trans "pythonbrasil[8] registration" %}</h1>
        <p>{% trans "Please fill the form below to registrate yourself for PythonBrasil[8]:" %}</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">{% trans "Save" %}</button>
        </form>
    </div>
</div>
{% endblock %}
