{% extends "dashboard/base.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/tutorials-subscription.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}
<div class="row">
    <div class="column grid_12">
        <h1>{% trans "Tutorials" %}</h1>
        {% if confirmed %}
        <p>{% trans "Please select below one or more tutorials that you want to attend. Since you're already confirmed for the conference, all you need to do is choose your tutorials and bring a kg of non-perishable food per tutorial." %}</p>
        {% else %}
        <p>{% trans "Please select below one or more tutorials that you want to attend. The prices are described in the table below." %}</p>
        <table>
            <thead>
                <tr><td># {% trans "of tutorials" %}</td><td>{% trans "Price" %}</td></tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>R$ 35,00</td></tr>
                <tr><td>2</td><td>R$ 65,00</td></tr>
                <tr><td>3</td><td>R$ 90,00</td></tr>
                <tr><td>4</td><td>R$ 100,00</td></tr>
            </tbody>
        </table>
        {% endif %}
        {% if subscribed %}
            <p><strong>{% trans "You have already subscribed for the following tutorials:" %}</strong></p>
            <ul>
                {% for tutorial in subscribed %}
                <li>
                    <a href="{% url proposal-page tutorial.track.slug tutorial.slug %}" title="{{ tutorial.title}}">
                        {{ tutorial.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url tutorials-subscription %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {% for slot in tutorials %}
            <h2>{{ slot.date }}</h2>
            {% for tutorial in slot.tutorials%}
            <div>
                <input type="radio" name="tutorial-{{ slot.date|date:"YmdHis" }}" value="{{ tutorial.pk }}" id="tutorial-{{ tutorial.pk}}">
                <a href="{% url proposal-page tutorial.track.slug tutorial.slug %}" title="{{ tutorial.description }}">
                    {{ tutorial.title }}
                </a>
            </div>
            {% endfor %}
            {% endfor %}
            <button type="submit" class="btn">{% trans "Send" %}</button>
            <button type="reset" class="btn">{% trans "Reset" %}</button>
        </form>
    </div>
</div>
{% endblock %}
