<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>404 AACD - Página não encontrada</title>
<link href="http://www.aacd.com.br/404/css/404.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="main">
    	<div id="erro"><img src="http://www.aacd.com.br/404/imagens/erro.png" width="406" height="61" alt="404 p&aacute;gina n&atilde;o encontrada." /></div>
        <div id="titulo"><img src="http://www.aacd.com.br/404/imagens/titulo.png" width="394" height="81" alt="Que tal transformar esse erro em um acerto?" /></div>
        <div id="box"><a href="http://www.aacd.org.br/quero-ajudar/doacao.aspx" target="_blank"><img src="http://www.aacd.com.br/404/imagens/box.png" width="319" height="229" alt="Ajude aqui." border="0" /></a></div>
        <div id="compartilhe"><a href="http://www.facebook.com/share.php?u=http://www.aacd.com.br/404/" target="_blank"><img src="http://www.aacd.com.br/404/imagens/compartilhe.png" width="145" height="29" alt="Compartilhe." border="0" /></a></div>
        <div id="saibamais"><a href="http://www.aacd.com.br/404" target="_blank"><img src="http://www.aacd.com.br/404/imagens/saibamais.png" width="414" height="18" alt="Saiba mais aqui." border="0" /></a></div>
	</div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7112215-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
