{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} | PythonBrasil[8] Conference{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row" id="about">
        <div class="column grid_12">
        <h1>{% trans "About PythonBrasil" %}</h1>
        <img src="{{ STATIC_URL }}/images/about/pythonbrasil_community.png" alt="PythonBrasil[5] in Caxias do Sul" width="310" height="195" />
        <p>
        {% blocktrans %}
        PythonBrasil is the largest Brazilian gathering for the community using and developing the open-source Python programming language. It is a annual vibrant meeting ground to inspire, debate, make deals, motivate and connect face to face.
        {% endblocktrans %}
        <br><br>
        </p>
        <p>
        {% trans "The eighth edition of the conference will be held from the 21 to 24 November 2012 at the" %}
        <a href="{% url venue %}">{% trans "SulAmérica Convention Center" %}</a>,
        {% trans "located in Rio de Janeiro." %}
        <br><br>
        </p>


        <p>
        {% blocktrans %}
        The conference is organized by the Python community for the community. We try to keep registration far cheaper than most comparable technology conferences, to keep PythonBrasil accessible to the widest group possible. {% endblocktrans %} <a href="{% url dashboard-index %}">{% trans "Join us!" %}</a>
        <br><br><br>
        </p>
        <div class="contact">
            <h2>{% trans "Contact" %}</h2>
            <ul>
                <li>
                    <img src="{{ STATIC_URL }}images/about/ico_email.png" alt="Mail us" width="58" height="59" />
                    <span class="contact">Tati Al-Chueyr, Conference Chair</span>
                    <a href="mailto:tati_alchueyr@python.org.br">tati_alchueyr@python.org.br</a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}images/about/ico_email.png" alt="Mail us" width="58" height="59" />
                    <span class="contact">Álvaro Justen "Turicas", Conference Chair</span>
                    <a href="mailto:alvaro@python.org.br">alvaro@python.org.br</a>
                </li>
                <li>
                    <img src="{{ STATIC_URL }}images/about/ico_mailing.png" alt="Mail us" width="58" height="59" />
                    <span class="contact">PythonBrasil[8] Organizers:</span>
                    <a href="mailto:organizers@python.org.br">organizers@python.org.br</a>
                </li>
            </ul>
        </div>

        <div class="previous">
            <h2>{% trans "Previous editions" %}</h2>

            <p>
                {% blocktrans %}
                This is the eighth edition of PythonBrasil.
                Find out more about the previous editions of the conference, clicking on the edition numbers below:
                {% endblocktrans %}
            </p>
            <div class="list">
                [<a href="http://old.pythonbrasil.org.br/2005">1</a>,
                <a href="http://old.pythonbrasil.org.br/2006">2</a>,
                <a href="http://old.pythonbrasil.org.br/2007">3</a>,
                <a href="http://old.pythonbrasil.org.br/2008">4</a>,
                <a href="http://old.pythonbrasil.org.br/2009">5</a>,
                <a href="http://old.pythonbrasil.org.br/2010">6</a>,
                <a href="http://2011.pythonbrasil.org.br/">7</a>]
            </div>
            <p>
                {% blocktrans %}
                You can also see a complete list containing the dates and locations of the previous editions of PythonBrasil
                {% endblocktrans %}
                <a href="{% url previous-editions %}">{% trans "clicking here" %}</a>.
            </p>
        </div>

    </div>
{% endblock %}

