{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} | PythonBrasil[8] Conference{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row" id="about">
        <div class="column grid_12">
        <h1>{% trans "About PythonBrasil" %}</h1>
        <img src="{{ STATIC_URL }}/images/about/pythonbrasil_community.png" alt="PythonBrasil[5] in Caxias do Sul" width="310" height="195" />
        <p>
        {% blocktrans %}
        PythonBrasil is the largest Brazilian gathering for the community using and developing the open-source Python programming language. It is a annual vibrant meeting ground to inspire, debate, make deals, motivate and connect face to face.
        {% endblocktrans %}
        <br><br>
        </p>
        <p>
        {% trans "The eighth edition of the conference will be held from the 21 to 24 November 2012 at the" %}
        <a href="{% url venue %}">{% trans "SulAmérica Convention Center" %}</a>,
        {% trans "located in Rio de Janeiro." %}
        <br><br>
        </p>


        <p>
        {% blocktrans %}
        The conference is organized by the Python community for the community. We try to keep registration far cheaper than most comparable technology conferences, to keep PythonBrasil accessible to the widest group possible. {% endblocktrans %} <a href="{% url pre-registration %}">{% trans "Join us!" %}</a>
        <br><br>
        </p>

        <h2>{% trans "Contact" %}</h2>
        <ul>
            <li>
                <span>Tati Al-Chueyr, Conference Chair</span>
                <a href="mailto:tati_alchueyr@python.org.br">tati_alchueyr@python.org.br</a>
                <span>+55 (21) 8230-8416</span>
            </li>
            <li>
                <span>Álvaro Justen "Turicas", Conference Chair</span>
                <a href="mailto:alvaro@python.org.br">alvaro@python.org.br</a>
                <span>+55 (21) 9898-0141</span>
            </li>
            <li>
                PythonBrasil[8] Organizers: <a href="mailto:alvaro@python.org.br">organizers@python.org.br</a>
            </li>
        </ul>

        <h2>{% trans "Previous editions" %}</h2>

        <p>
            {% blocktrans %}
            Find out more about the previous editions of our conference:
            {% endblocktrans %}
        </p>

        <ul class="previous-editions">
            <li>
                <a href="http://2011.pythonbrasil.org.br/">PythonBrasil[7]</a>
                <span>São Paulo (SP)</span>
                <span>{% trans "28th September - 1st October 2011" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2010">PythonBrasil[6]</a>
                <span>Curitiba (PR)</span>
                <span>{% trans "21th - 23th October 2010" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2009">PythonBrasil[5]</a>
                <span>Caxias do Sul (RS)</span>
                <span>{% trans "10th - 12th September 2009" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2008">PythonBrasil[4]</a>
                <span>Rio de Janeiro (RJ)</span>
                <span>{% trans "18th - 20th September 2008" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2007">PythonBrasil[3]</a>
                <span>Joinville (SC)</span>
                <span>{% trans "30th August - 1st September 2007" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2006">PythonBrasil[2]</a>
                <span>Brasília (DF)</span>
                <span>{% trans "1st - 2nd June 2006" %}</span>
                <span></span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2005">PythonBrasil[1]</a>
                <span>Campinas (SP)</span>
                <span>{% trans "28th - 29th April 2005" %}</span>
            </li>
        </ul>

    </div>
{% endblock %}

