<!DOCTYPE html>
{% load menu %}
{% load i18n %}
{% load setting %}
{% load compress %}
<html>
    <head>
        <title>{% block title %}PythonBrasil[8] Conference{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/social.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css" type="text/css" />
        {% endcompress %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}/images/header/favicon.ico" type="image/vnd.microsoft.icon" />
        {% block css %}{% endblock %}
        {% block js_top %}{% endblock %}
    </head>

    <body>
        <div id="fb-root"></div>
        <div id="header">
            <div class="inner">

                <div id="logo">
                    <a href="{% url home %}" title="PythonBrasil[8]">PythonBrasil[8]</a>
                </div>

                <div id="menu" class="text_right">
                    <div>
                        <ul>
                            <li class="{% is_active request.path 'about' %}">
                            <a href="{% url about %}">{% trans "about" %}</a>
                            </li>
                            <li class="{% is_active request.path 'pre-registration' %}">
                                <a href="{% url pre-registration %}" title="register now">{% trans "registration" %}</a>
                            </li>
                            <li class="{% is_active request.path 'schedule' %}">
                                <a href="{% url schedule %}" title="register now">{% trans "schedule" %}</a>
                            </li>
                            <li class="{% is_active request.path 'venue' %}">
                                <a href="{% url venue %}">{% trans "venue" %}</a>
                            </li>
                            <li class="{% is_active request.path 'custom-sponsors' %}">
                                <a href="{% url custom-sponsors %}">{% trans "sponsor" %}</a>
                            </li>
                       </ul>
                    </div>
                </div>

                <div id="language-select">
                    <ul>
                        <li class="pt-br{% if request.LANGUAGE_CODE == "pt-br" %} selected{% endif %}">
                            <a href="#pt-br">
                                <span class="flag"></span>
                                português
                            </a>
                        </li>
                        <li class="en-us{% if request.LANGUAGE_CODE == "en-us" %} selected{% endif %}">
                            <a href="#en-us">
                                <span class="flag"></span>
                                english
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="pre-register">
                    <p>
                        <a href="{% url pre-registration %}" title="register now"><span>{% trans "register now" %} »</span></a>
                    </p>

                </div>
                {% block social %}
                    <div id="social" class="row">
                       {% include "social.html" with twitter_data_text="Vai rolar a #PythonBrasil8 no Rio. Impossível perder."%}
                    </div>
                {% endblock %}
            </div>
        </div>
        {% block greybar %}
        <div class="dates">
            <div class="wrapper">
                    <div class="dates-container">
                        <div class="inner">
                            <p>{% trans "Call for proposals" %}</p>
                            <h4>{% trans "June 15th" %}</h4>
                        </div>
                        <div class="inner">
                            <p>{% trans "Sprints" %}</p>
                            <h4>{% trans "November 20th" %}</h4>
                        </div>
                        <div class="inner">
                            <p>{% trans "Tutorials" %}</p>
                            <h4>{% trans "November 21th - 22th" %}</h4>
                        </div>
                        <div class="inner last">
                            <p>{% trans "Talks & Exposition Hall" %}</p>
                            <h4>{% trans "November 23th - 24th" %}</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        {% endblock %}

        <div class="content">
            <div class="inner row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="row">
                <div class="about column grid_11">
                    <p>
                    {% trans "PythonBrasil is a non-proﬁt volunteer-driven conference for promoting the open-source Python programming language." %}
                    {% trans "It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF)." %}
                    </p>
                </div>
                <div class="logo column grid_1"></div>
            </div>
        </div>

        <a href="https://github.com/pythonbrasil8/pythonbrasil8" id="github-ribbon" title="Fork me on GitHub">
            <img src="{{ STATIC_URL }}/images/header/fork-me.png" alt="Fork me on GitHub" width="149" height="149" />
        </a>

        {% compress js %}
        <script src="/static/js/mootools-1.4.5.js" type="text/javascript" charset="utf-8"></script>
        <script>
            (function(global) {
                $$('#language-select a').addEvent('click', function(event){
                    var href = this.get('href');
                    event.stop()
                    Cookie.write('{% setting "LANGUAGE_COOKIE_NAME" %}', href.slice(1, href.length));
                    global.location.reload();
                });
            })(window);
        </script>
        {% endcompress %}

        {% block js_social %}
            <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
            <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            {% compress js %}
            <script>(function(d, id){
                var js; if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js#appId=133043916794035&xfbml=1";
                d.getElementsByTagName('head')[0].appendChild(js);
                })(document, 'facebook-jssdk');
            </script>
            {% endcompress %}
        {% endblock %}
        {% block js_bottom %}{% endblock %}

        <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-32336189-1']);
         _gaq.push(['_trackPageview']);

         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        </script>
    </body>
</html>

