<!DOCTYPE html>
{% load menu %}
{% load i18n %}
<html>
    <head>
        <title>{% block title %}PythonBrasil[8]{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css" type="text/css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}/images/header/favicon.ico" type="image/vnd.microsoft.icon" />
        {% block css %}{% endblock %}
    </head>

    <body>

        <div id="header">
            <div class="inner">

                <div id="logo">
                    <a href="{% url home %}" title="PythonBrasil[8]">PythonBrasil[8]</a>
                </div>

                <div id="menu" class="text_right">
                    <div>
                        <ul>
                            <li class="{% is_active request.path 'home' %}">
                            <a href="{% url home %}">{% trans "home" %}</a>
                            </li>
                            <li class="{% is_active request.path 'pre-registration' %}">
                                <a href="{% url pre-registration %}" title="register now">{% trans "registration" %}</a>
                            </li>
                            <li class="{% is_active request.path 'venue' %}">
                                <a href="{% url venue %}">{% trans "venue" %}</a>
                            </li>
                            <li class="{% is_active request.path 'custom-sponsors' %}">
                            <a href="{% url custom-sponsors %}">{% trans "sponsors" %}</a>
                            </li>
                       </ul>
                    </div>
                </div>

                <div id="pre-register">
                    <p>
                        <a href="{% url pre-registration %}" title="register now"><span>{% trans "register now" %} »</span></a>
                    </p>
                </div>

            </div>
        </div>
        <div class="dashed-border"></div>

        <div class="dates">
            <div class="wrapper">
                <div class="dates-container">
                    <div class="inner">
                        <h4>{% trans "Tutorials" %}</h4>
                        <p>{% trans "November" %} 21 - 22</p>
                    </div>
                    <div class="inner">
                        <h4>{% trans "Talks & Exposition Hall" %}</h4>
                        <p>{% trans "November" %} 23 - 24</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="content">
            {% block social %}
                <div class="social" style="position:aboslute; right:10px;">
                   {% include "social.html" with twitter_data_text="Teste de envio para o twitter #PythonBrasil"%}
                </div>
            {% endblock %}
            <div class="inner row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="row">
                <div class="about column grid_11">
                    <p>
                    {% trans "PythonBrasil is a non-proﬁt volunteer-driven conference for promoting the open-source Python programming language." %}
                    {% trans "It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF)." %}
                    </p>
                </div>
                <div class="logo column grid_1"></div>
            </div>
        </div>

        <a href="https://github.com/pythonbrasil8/pythonbrasil8" id="github-ribbon" title="Fork me on GitHub">
            <img src="{{ STATIC_URL }}/images/header/fork-me.png" alt="Fork me on GitHub" width="149" height="149" />
        </a>
        {% block js_bottom %}{% endblock %}
    </body>
</html>

