<!DOCTYPE html>
{% load menu %}
<html>
    <head>
        <title>{% block title %}PythonBrasil[8]{% endblock %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/common.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" />
        {% block css %}{% endblock %}
    </head>

    <body>

        <div id="header">
            <div class="inner">

                <div id="menu" class="text_right">
                    <div>
                        <ul>
                            <li class="{% is_active request.get_full_path 'home' %}">
                                <a href="{% url home %}">home</a>
                            </li>
                            <li>
                                <a href="{% url pre-registration %}" title="register now">registration</a>
                            </li>
                            <li class="{% is_active request.get_full_path 'venue' %}">
                                <a href="{% url venue %}">venue</a>
                            </li>
                       </ul>
                    </div>
                </div>

                <div id="pre-register">
                    <p>
                        <a href="{% url pre-registration %}" title="register now"><span>register now »</span></a>
                    </p>
                </div>

            </div>
        </div>
        <div class="dashed-border"></div>

        <div class="dates">
            <div class="wrapper">
                <div class="dates-container">
                    <div class="inner">
                        <h4>Tutorials</h4>
                        <p>October 21 - 22</p>
                    </div>
                    <div class="inner">
                        <h4>Talks & Exposition Hall</h4>
                        <p>October 23 - 24</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="inner">
                <div class="logo"></div>
                <div class="about">
                    <p>
                        PythonBrasil is the largest Brazilian gathering for the community using and developing
                        the open-source Python programming language. It is a annual vibrant meeting ground to
                        inspire, debate, make deals, motivate and connect face to face.
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>

