{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "News" %} | PythonBrasil[8]{% endblock %}
{% block og_title %}{% trans "News" %} | PythonBrasil[8]{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/news.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row" id="news">
      <h1>{% trans "PythonBrasil News" %}</h1>
        {% load markup %}
        {% for post in posts %}
        <div class="news-item" id="{{ post.slug }}">
            <h2><a href="{% url news:post post.slug %}">{{ post.title }}</a></h2>
            <p class="date">{% blocktrans %}Published on{% endblocktrans %} {{ post.published_at}}, {% blocktrans %}by{% endblocktrans %} {% if post.author.email %}<a href="mailto:{{ post.author.email }}">{% endif %}{{ post.author.get_profile.name }}{% if post.author.email %}</a>{% endif %}
            </p>
            <p class="body">{{ post.content|markdown }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
