{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %} | PythonBrasil[8]{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{% trans "Password reset" %}</h1>

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %} </p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset my password' %}" />
        </form>


    </div>
{% endblock %}

