{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset successful" %} | PythonBrasil[8]{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{% trans "Password reset successful" %}</h1>

        <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %} </p>
    </div>
{% endblock %}
