{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset confirm" %} | PythonBrasil[8]{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css" />
{% endblock %}

{% block content %}
  {% if validlink %}
    <form action="." method="post">
      <ul>
      {% csrf_token %}
      {{ form.as_ul }}
      <li>
      <input type="submit" text="{% trans "Change Password" %}" />
      </li>
      </ul>
    </form>
  {% else %}
  <h1>{% trans "Password reset unsuccessful." %}</h1>
    <p>{% trans "The password reset link was invalid, possibly because it already has been used. Please request a new password reset." %}</p>
  {% endif %}
{% endblock %}

