{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset confirm" %} | PythonBrasil[8]{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/password_reset.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="reset-password">
    <div class="column grid_12">
        {% if validlink %}
            <h1>{% trans "Reset password" %}</h1>
            <p>{% trans "Please fill the form below to complete the process of resetting your password:" %}</p>
            <form action="" method="post">
                <ul>
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li>
                        <button class="btn" type="submit">{% trans "Change Password" %}</button>
                    </li>
                </ul>
            </form>
        {% else %}
            <h1>{% trans "Password reset unsuccessful." %}</h1>
            <p>{% trans "The password reset link was invalid, possibly because it already has been used. Please request a new password reset." %}</p>
            <p><a href="{% url password_reset %}" title="{% trans "Reset password" %}">{% trans "Reset password" %}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}

