{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} | PythonBrasil[8] Conference{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/about.css" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row" id="about">
        <div class="column grid_12">
        <h1>{% trans "PythonBrasil[:8]" %}</h1>
         <ul class="previous-editions">
            <li>
                <a href="http://2011.pythonbrasil.org.br/">PythonBrasil[7]</a>
                <span>São Paulo (SP)</span>
                <span>{% trans "28th September - 1st October 2011" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2010">PythonBrasil[6]</a>
                <span>Curitiba (PR)</span>
                <span>{% trans "21th - 23th October 2010" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2009">PythonBrasil[5]</a>
                <span>Caxias do Sul (RS)</span>
                <span>{% trans "10th - 12th September 2009" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2008">PythonBrasil[4]</a>
                <span>Rio de Janeiro (RJ)</span>
                <span>{% trans "18th - 20th September 2008" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2007">PythonBrasil[3]</a>
                <span>Joinville (SC)</span>
                <span>{% trans "30th August - 1st September 2007" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2006">PythonBrasil[2]</a>
                <span>Brasília (DF)</span>
                <span>{% trans "1st - 2nd June 2006" %}</span>
            </li>
            <li>
                <a href="http://old.pythonbrasil.org.br/2005">PythonBrasil[1]</a>
                <span>Campinas (SP)</span>
                <span>{% trans "28th - 29th April 2005" %}</span>
            </li>
        </ul>
    </div>
{% endblock %}


