{% extends "base.html" %}
{% load i18n %}

{% block title %} Previous Python Brasil | {{ block.super }}{% endblock %}

{% block content %}

    <ul class="column grid_12">
        <li class="row">
            <a href="http://2011.pythonbrasil.org.br/"> Python Brasil 2011 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2010">Python Brasil 2010 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2009"> Python Brasil 2009 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2008">Python Brasil 2008 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2007"> Python Brasil 2007 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2006"> Python Brasil 2006 </a>
        </li>
        <li class="row">
            <a href="http://old.pythonbrasil.org.br/2005"> Python Brasil 2005 </a>
        </li>
    </ul>
{% endblock %}
