{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Schedule" %} | PythonBrasil[8]{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/schedule.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="schedule">
    <div class="column grid_12">
        <h1>{% trans "PythonBrasil Schedule" %}</h1>
        <p></p>
        <section id="speakers" class="speakers">
            <ul>
                <li><a href="" title="Andrea Gavana"><img src="{{ STATIC_URL }}images/speakers/andrea_gavana.png" alt="Andrea Gavana"></a></li>
                <li><a href="" title="Brett Cannon"><img src="{{ STATIC_URL }}images/speakers/brett_cannon.png" alt="Brett Cannon"></a></li>
                <li><a href="" title="Massimo DiPierro"><img src="{{ STATIC_URL }}images/speakers/massimo_dipierro.png" alt="Massimo DiPierro"></a></li>
                <li><a href="" title="Robert Hancock"><img src="{{ STATIC_URL }}images/speakers/robert_hancock.png" alt="Robert Hancock"></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
                <li><a href="" title=""><img src="{{ STATIC_URL }}images/speakers/blank.png" alt=""></a></li>
            </ul>
            <div class="note">
                <div class="inner-note">
                    <p>{% trans "Come and enjoy all the amazing talks we are gathering for you. listen to the wisdom of the experts and the darings of the initiated." %} <span class="extra">{% trans "You will have the chance to learn from some of the hottest Python topics as well as some other surprises." %}</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <p>
                    {% trans "Soon more information about PythonBrasil[8] keynotes, speakers and the schedule!" %}
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock %}
