{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Accepted talks" %} | PythonBrasil[8]{% endblock %}
{% block og_title %}{% trans "Accepted talks" %} | PythonBrasil[8]{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css" type="text/css" />
{% endblock %}


{% block content %}
<section id="vote">
  <h1>{% trans "PythonBrasil[8] Accepted Talks" %}</h1>
  <div>
  {% blocktrans %}
  We listed below the talks that were accepted for the conference. In next days
  we'll release the the complete schedule, with days/hours and tutorials.
  {% endblocktrans %}
  </div>

  <br />

  <table>
    <tr>
      <th>{% trans "Talk title" %}</th>
      <th>{% trans "Speaker(s)" %}</th>
      <th>{% trans "Status" %}</th>
    </tr>
    {% for track, sessions in tracks_and_sessions %}
    <tr>
      <td class="title" colspan="3">{{ track }}</td>
    </tr>
    {% for session in sessions %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>
        <a class="proposal" href="{% url proposal-page track.slug session.slug %}"
          title="{% spaceless %}{{ session.description }}{% endspaceless %}"
           target="_blank">{{ session.title }}</a>
      </td>
      <td>
        {% for speaker in session.speakers.all %}
          {% if speaker.get_profile.name %}{{ speaker.get_profile.name }}{% else %}{{ speaker.username }}{% endif %}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
      <td>{{ session.get_status_display }}</td>
    </tr>
    {% endfor %}
  {% endfor %}
  </table>
</section>
<br />
{% endblock %}
