<table dir="ltr" border="0" cellpadding="0" cellspacing="0" class="tblGenFixed"
id="tblFirstDay">
    <tbody>
        <tr class="rShim">
            <td class="rShim" style="width:120px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:120px;"></td>
        </tr>
        <tr dir="ltr">
            <td colspan="6" dir="ltr" class="s0">Conference - Day #1</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td colspan="6" dir="ltr" class="s1">Friday - 23th November</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td class="s2"></td>
            <td dir="ltr" class="s3">Auditorium</td>
            <td dir="ltr" class="s3">Room I</td>
            <td dir="ltr" class="s3">Room II</td>
            <td dir="ltr" class="s3">Room III</td>
            <td dir="ltr" class="s3">Room IV</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">08:00 - 09:00</td>
            <td colspan="5" dir="ltr" class="s5">Registration and Breakfast</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">09:00 - 09:15</td>
            <td colspan="5" dir="ltr" class="s5">Opening</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">09:00 - 9:50</td>
            <td colspan="5" dir="ltr" class="s7">[Keynote] web2py: Web Development Should be Easy (Massimo Di Pierro)</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">10:00 - 10:30</td>
            <td dir="ltr" class="s9"><a href="/schedule/core-interpreters/encapsulamento-o-jeito-pythonico" target="_blank">Encapsulamento: o jeito pythonico (Luciano Ramalho)</a></td>
            <td dir="ltr"
            class="s9"><a href="/schedule/tools-methodology/tudo-o-que-voce-ja-deveria-saber-sobre-unicode" target="_blank">Tudo o que você já deveria saber sobre Unicode (Álvaro Justen)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/databases/nosql-e-python" target="_blank">NoSQL e Python (Christiano Anderson)</a></td>
                <td dir="ltr" class="s9"><a href="/schedule/sysadmin-devop/puppetizando-sua-python-app" target="_blank">Puppetizando sua Python App (Sergio Oliveira)</a></td>
                <td rowspan="3" dir="ltr"
                class="s10">Open Space</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">10:40 - 11:10</td>
            <td dir="ltr" class="s9"><a href="/schedule/embedded-systems-mobile/desenvolvimento-de-aplicacoes-para-android-com-python" target="_blank">Desenvolvimento de aplicações para Android com Python (Tati Al-Chueyr)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/django/django-full-text-search-fazendo-buscas-rapidas" target="_blank">Django &amp; Full-Text Search: fazendo buscas ultra-rápidas (Lucas Sampaio)</a></td>
                <td
                dir="ltr" class="s9"><a href="/schedule/tools-methodology/fsquass-easy-file-systems-search-and-traversal" target="_blank">FsQuass, easy file systems search and traversal (Dmitri Lebedev)</a></td>
                    <td
                    dir="ltr" class="s9"><a href="/schedule/databases/buscas-inteligentes-com-whoosh" target="_blank">Buscas inteligentes com Whoosh (Bruno Cezar Rocha)</a></td>
                        <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">11:20 - 11:50</td>
            <td dir="ltr" class="s9"><a href="/schedule/tools-methodology/programacao-funcional-em-python" target="_blank">Programação Funcional em Python (Juarez Bochi, Hugo Lopes Tavares)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/django/trabalhando-com-django-para-nao-ter-trabalho" target="_blank">Trabalhando com Django para não ter trabalho (Henrique Bastos)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/embedded-systems-mobile/raspberrypi-python" target="_blank">RaspberryPi + Python (Daker Pinheiro)</a></td>
                <td dir="ltr" class="s9"><a href="/schedule/sysadmin-devop/circus-process-and-socket-manager" target="_blank">Circus, process and socket manager (Tarek Ziade)</a></td>
                <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">11:50 - 12:00</td>
            <td colspan="5" dir="ltr" class="s5">Middle of the day address</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">12:00 - 14:00</td>
            <td colspan="5" dir="ltr" class="s5">Lunch</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">14:00 - 14:50</td>
            <td colspan="5" dir="ltr" class="s7">Keynote 2</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">14:50 - 15:20</td>
            <td dir="ltr" class="s9"><a href="/schedule/other/crawleando-a-web-feito-gente-grande-com-o-scrapy" target="_blank">Crawleando a Web Feito Gente Grande Com o Scrapy (Bernardo Fontes)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/tools-methodology/como-medir-a-sua-aplicacao" target="_blank">Como medir a sua aplicação (Mauro Baraldi)</a></td>
                <td dir="ltr" class="s9"><a href="/schedule/other/treinando-desenvolvedores-a-contribuir-para-software-livre" target="_blank">Treinando desenvolvedores a contribuir para software livre (Adolfo Brandes)</a></td>
                <td
                dir="ltr" class="s9"><a href="/schedule/core-interpreters/metapython-edicao-2012" target="_blank">MetaPython - edição 2012 (João Bueno)</a></td>
                    <td rowspan="3" dir="ltr" class="s10">Open Space</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">15:30 - 16:00</td>
            <td dir="ltr" class="s9"><a href="/schedule/science/organicer-organizando-informacao-com-python" target="_blank">Organicer: Organizando informação com Python (Rodrigo Senra)</a></td>
            <td dir="ltr"
            class="s9"><a href="/schedule/python-in-society/como-python-esta-mudando-a-forma-de-aprendizagem-a-distancia-no-brasil" target="_blank">Como Python está mudando a forma de aprendizagem à distância no Brasil
                (Marcel Caraciolo)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/plone/plone-em-producao-case-de-sucesso-dentro-do-governo" target="_blank">Plone em produção, case de sucesso dentro do Governo (Thiago Avelino)</a></td>

            <td
            dir="ltr" class="s9"><a href="/schedule/python-in-society/i-love-json-module" target="_blank">I love JSON module (Fernando Masanori)</a></td>
                <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">16:10 - 16:40</td>
            <td dir="ltr" class="s9"><a href="/schedule/core-interpreters/python-e-c-formas-de-integracao" target="_blank">Python e C - Formas de Integração (Felipe Cruz)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/sysadmin-devop/provisionamento-de-servidores-the-dev-way" target="_blank">Provisionamento de Servidores THE DEV WAY (Diogo Baeder, Bernardo Heynemann)</a>
                <br>
                <br>
            </td>
            <td dir="ltr" class="s9"><a href="/schedule/success-cases/construindo-uma-api-de-dados-esportivos-que-responde-a-9000-reqs" target="_blank">Construindo uma API de dados esportivos que responde a 9000 req/s (Rafael
                Martins)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/python-in-society/associacao-python-brasil-o-que-deu-errado" target="_blank">Associação Python Brasil: O que deu errado? (Érico Andrei)</a></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">16:40 - 17:40</td>
            <td colspan="5" dir="ltr" class="s5">Coffee break</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">17:40 - 18:10</td>
            <td colspan="5" dir="ltr" class="s10">Lightning talks</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">18:10 - 19:00</td>
            <td colspan="5" dir="ltr" class="s7">[Keynote] Optimize Performance and Scalability with Parallelism and Concurrency (Bob Hancock)</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">19:10 - 19:20</td>
            <td colspan="5" dir="ltr" class="s5">End of the day address</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s11">19:30 - 21:00</td>
            <td colspan="5" dir="ltr" class="s12">Brazilian Python Association (APyB) meeting</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td colspan="6" rowspan="2" class="s13"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
    </tbody>
</table>

<br>
<br>
<br>

<table dir="ltr" border="0" cellpadding="0" cellspacing="0" class="tblGenFixed"
id="tblSecondDay">
    <tbody>
        <tr class="rShim">
            <td class="rShim" style="width:120px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:170px;"></td>
            <td class="rShim" style="width:120px;"></td>
        </tr>
        <tr dir="ltr">
            <td colspan="6" dir="ltr" class="s0">Conference - Day #2</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td colspan="6" dir="ltr" class="s1">Saturday - 24th November</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td class="s2"></td>
            <td dir="ltr" class="s3">Auditorium</td>
            <td dir="ltr" class="s3">Room I</td>
            <td dir="ltr" class="s3">Room II</td>
            <td dir="ltr" class="s3">Room III</td>
            <td dir="ltr" class="s3">Room IV</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">08:00 - 09:00</td>
            <td colspan="5" dir="ltr" class="s5">Breakfast</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">09:00 - 09:15</td>
            <td colspan="5" dir="ltr" class="s5">Opening</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">09:00 - 9:50</td>
            <td colspan="5" dir="ltr" class="s7">[Keynote] Stepping Through CPython (Larry Hastings)</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">10:00 - 10:30</td>
            <td dir="ltr" class="s9"><a href="/schedule/tools-methodology/concorrencia-em-python" target="_blank"> Concorrência em Python (Francisco Souza)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/games-multimedia/pynes-programando-em-python-no-nintendo-8-bits" target="_blank">PyNES: Programando em Python no Nintendo 8 bits (Guto Maia)</a></td>
            <td dir="ltr"
            class="s9"><a  href="/schedule/tools-methodology/refatoracao-de-codigo-python" target="_blank">Refatoração de código Python (Diogo Baeder)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/web-frameworks/zope-django-pylons-pyramid-o-framework-web-para-todos" target="_blank">Zope + Django + Pylons = Pyramid - O framework web para todos (Rudá P.
                Filgueiras)</a></td>
            <td rowspan="3" dir="ltr" class="s10">Open Space</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">10:40 - 11:10</td>
            <td dir="ltr" class="s9"><a href="/schedule/core-interpreters/iteradores-e-geradores-o-jeito-pythonico" target="_blank">Iteradores e geradores: o jeito pythonico (Luciano Ramalho)</a></td>
            <td dir="ltr"
            class="s9"><a href="/schedule/web-frameworks/python-para-web-developer" target="_blank">Python para Web Developer (Marcelo Siqueira)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/django/django-e-backbonejs-uma-parceria-de-sucesso"  target="_blank">Django e Backbone.js, uma parceria de sucesso (Thiago Garcia da Silva)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/success-cases/python-e-automacao-de-testes-em-linux-o-projeto-autotest" target="_blank">Python e automação de testes em Linux: O projeto autotest (Lucas Meneghel)</a></td>
                <td
                style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">11:20 - 11:50</td>
            <td dir="ltr" class="s9"><a href="/schedule/tools-methodology/design-de-codigo-principios-e-praticas-para-ter-um-codigo-sustentavel" target="_blank">Design de código: princípios e práticas para ter um código sustentável
                (Andrews Medina)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/sysadmin-devop/uwsgi-por-que-quando-onde-como" target="_blank">uWSGI.. Por quê? Quando? Onde? Como? (Cícero Verneck Corrêa)</a></td>
            <td dir="ltr"
            class="s9"><a href="/schedule/django/healthy-webapps-through-continuous-introspection" target="_blank">Healthy webapps through continuous introspection (Nicolas Venegas)</a></td>
            <td
            dir="ltr" class="s9"><a href="/schedule/cloud-computing/slapos-para-alem-das-nuvens" target="_blank">SlapOS, Para além das nuvens (Rafael Monnerat)</a></td>
                <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">11:50 - 12:00</td>
            <td colspan="5" dir="ltr" class="s5">Middle of the day address</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">12:00 - 14:00</td>
            <td colspan="5" dir="ltr" class="s5">Lunch</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">14:00 - 14:50</td>
            <td colspan="5" dir="ltr" class="s7">[Keynote] “import wx”: a Tale of Neverending GUI Power (Andrea Gavana)</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">14:50 - 15:20</td>
            <td dir="ltr" class="s9"><a href="/schedule/web-frameworks/usando-o-nginx-para-dar-super-poderes-as-suas-aplicacoes-web" target="_blank">Usando o Nginx para dar super poderes as suas aplicações web (Rafael Martins)</a></td>
            <td
            dir="ltr" class="s15"><a href="/schedule/science/pypln-processamento-de-linguagem-natural-distribuido" target="_blank">PyPLN: processamento de linguagem natural distribuído (Álvaro Justen)</a></td>
                <td
                dir="ltr" class="s15"><a href="/schedule/other/hackeando-emuladores-em-python-por-diversao-e-conhecimento" target="blank">Hackeando emuladores em Python por diversão e conhecimento (Henrique Bastos)</a></td>
                    <td
                    dir="ltr" class="s9"><a href="/schedule/web-frameworks/programacao-assincrona-e-o-servidor-de-aplicacoes-tornado" target="_blank">Programação assíncrona e o servidor de aplicações Tornado (Luis Fagundes)</a></td>
                        <td
                        rowspan="3" dir="ltr" class="s10">Open Space</td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">15:30 - 16:00</td>
            <td dir="ltr" class="s9"><a href="/schedule/embedded-systems-mobile/kivy-fazendo-aplicativos-bonitos-e-multiplataforma-com-rapidez" target="_blank">Kivy: Fazendo aplicativos bonitos e multiplataforma com rapidez (Diego
                Guimarães)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/core-interpreters/como-contribuir-com-cpython-para-dummies" target="_blank">Como contribuir com cPython para dummies (Tati Al-Chueyr)</a></td>
            <td dir="ltr"
            class="s9"><a href="/schedule/plone/o-futuro-do-plone" target="_blank">O Futuro do Plone (Érico Andrei)</a></td>
            <td dir="ltr" class="s9"><a href="/schedule/science/machine-learning-using-nltk-and-scikit" target="_blank">Machine Learning using NLTK and SCIKIT (Heraldo Borges)</a></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">16:10 - 16:40</td>
            <td dir="ltr" class="s9"><a href="/schedule/core-interpreters/python-3" target="_blank">Python 3 (Andrews Medina)</a></td>
            <td
            dir="ltr" class="s9"><a href="/open-data/semantic-django-tornando-a-web-mais-semantica-com-django-e-bancos-de-triplas" target="_blank"> Semantic-Django - Tornando a web mais semântica com Django e bancos de
                triplas (Rafael Floriano)</a></td>
                <td dir="ltr" class="s9"><a href="/schedule/web-frameworks/flask-pequenos-frameworks-grande-projetos" target="_blank">Flask - Pequenos frameworks grande projetos (Tomás Corrêa)</a></td>
                <td
                dir="ltr" class="s9"><a href="/schedule/science/construindo-sistemas-de-recomendacao-escalaveis-com-mapreduce-e-o-framework-open-source-crab" target="_blank">Construindo sistemas de recomendação escaláveis com MapReduce e o framework
                    open-source Crab (Marcel Caraciolo)</a></td>
                    <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">16:40 - 17:40</td>
            <td colspan="5" dir="ltr" class="s5">Coffee break</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s8">17:40 - 18:10</td>
            <td colspan="5" dir="ltr" class="s10">Lightning talks</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s6">18:10 - 19:00</td>
            <td colspan="5" dir="ltr" class="s7">Keynote 6</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td dir="ltr" class="s4">19:10 - 19:20</td>
            <td colspan="5" dir="ltr" class="s5">End of the day address</td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
        <tr dir="ltr">
            <td class="s16"></td>
            <td colspan="5" class="s17"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
            <td style="display:none;"></td>
        </tr>
    </tbody>
</table>