<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<div class="social">
    <!-- Google+ -->
    <div style="float:left"><g:plusone size="medium"></g:plusone></div>

    <!-- Twitter -->
    <div style="float:left">
        <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ twitter_data_text }}" data-count="horizontal" data-via="PythonBrasil">Tweet</a>
    </div>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <!-- Facebook -->
    <div style="float:left" id="fb-root"></div>
    <script>(function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js#appId=133043916794035&xfbml=1";
        d.getElementsByTagName('head')[0].appendChild(js);
        }(document));
    </script>
    <div class="fb-like" data-href="https://www.facebook.com/PythonBrasil8"
        data-send="false" data-layout="button_count" data-width="80" data-show-faces="true">
    </div>
</div>
