{% extends "base.html" %}
{% load i18n %}

{% block title %}Pre-registration | {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/subscribe.css" type="text/css" />
{% endblock %}

{% block content %}
    <div id="pre-registration" class="column grid_12">
        <h1>{% trans "Pre-registration" %}</h1>
        <p>{% trans "Please fill the form bellow to pre-register on PythonBrasil[8]. All fields are required." %}</p>

        <form action="{% url pre-registration %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">{% trans "Pre-register" %}</button></p>
        </form>
    </div>
{% endblock %}
