{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Vote" %} | PythonBrasil[8]{% endblock %}

{% block js_top %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var imageUrl = "{{ STATIC_URL }}images/schedule/";
    $('.vote-form').submit(function() {
    $.ajax({
              data: $(this).serialize(),
              type: $(this).attr('method'),
              url: $(this).attr('action'),
              success: function(response) {
                  $('#' + response.proposal_id + '-up').attr('src', imageUrl + 'up_inactive.png');
                  $('#' + response.proposal_id + '-neutral').attr('src', imageUrl + 'neutral_inactive.png');
                  $('#' + response.proposal_id + '-down').attr('src', imageUrl + 'down_inactive.png');
                  imageId = response.proposal_id + '-' + response.vote;
                  var newImageUrl = imageUrl + response.vote + '_active.png';
                  $('#' + imageId).attr('src', newImageUrl)
              }
          });
            return false;
  });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css" type="text/css" />
{% endblock %}

{% block content %}
<section id="vote">
  <h1>Vote for PythonBrasil[8] talks!</h1>
  <div>
  {% block trans %}
  Please, give us your opinion: prioritize the proposals with up, down or
  neutral votes. The best ones will be presented at the 8th Brazilian Python
  Conference!
  {% endblock %}

  <noscript>
    {% trans "You should enable JavaScript to have a better experience when voting!" %}
  </noscript>

  </div>
  <table>
    {% for track, sessions in tracks_and_sessions %}
    <tr>
      <td class="title" colspan="5">{{ track }}</td>
    </tr>
    {% for session in sessions %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>
       <form class="vote-form" method="post" action="{% url proposal_vote proposal_id=session.id type_of_vote='up' %}">{% csrf_token %}
       <input id="{{ session.id }}-up" type="image"
              src="{{ STATIC_URL }}images/schedule/up_{% if session.id not in votes_up %}in{% endif %}active.png" />
       </form>
      </td>
      <td>
        <form class="vote-form" method="post" action="{% url proposal_vote proposal_id=session.id type_of_vote='neutral' %}">{% csrf_token %}
        <input id="{{ session.id }}-neutral" type="image"
               src="{{ STATIC_URL }}images/schedule/neutral_{% if session.id in votes_neutral %}in{% endif %}active.png" />
        </form>
      </td>
      <td>
        <form class="vote-form" method="post" action="{% url proposal_vote proposal_id=session.id type_of_vote='down' %}">{% csrf_token %}
        <input id="{{ session.id }}-down" type="image"
               src="{{ STATIC_URL }}images/schedule/down_{% if session.id not in votes_down %}in{% endif %}active.png" />
        </form>
      </td>
      </form>

      <td>
        <a class="proposal" href="{% url proposal-page track.slug session.slug %}"
          title="{% spaceless %}{{ session.description }}{% endspaceless %}"
           target="_blank">{{ session.title }}</a>
      </td>
      <td>
        {% for speaker in session.speakers.all %}
          {% if speaker.get_profile.name %}{{ speaker.get_profile.name }}{% else %}{{ speaker.username }}{% endif %}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  {% endfor %}
  </table>
</section>
<br />
{% endblock %}
