{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Vote" %} | PythonBrasil[8]{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css" type="text/css" />
{% endblock %}

<style type="text/css">
  td { padding: 10px; }
</style>

{% block content %}
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
      <th>Author</th>
    </tr>
    {% for track, sessions in tracks_and_sessions %}
    <tr>
      <td colspan="4">{{ track }}</td>
    </tr>
    {% for session in sessions %}
    <tr>
      <td>up</td>
      <td>down</td>
      <td>{{ session.title }}</td>
      <td>
        {% for speaker in session.speakers.all %}
        {{ speaker.get_profile.name }}
        {% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  {% endfor %}
  </table>
{% endblock %}
