#menu-dashboard {
    background-color: #EEE;
    background: url(../img/pixel.png) #EEE repeat-x 0 60px;
}

#menu-dashboard ul {
    display: block;
    font-size: 20px;
    margin: 0 auto;
}

#menu-dashboard ul li {
    display: inline-block;
}

#menu-dashboard ul li a {
    display: block;
    padding: 20px 10px;
}

#menu-dashboard ul li a:hover, #menu-dashboard ul li a.active {
    border: 1px #CCC solid;
    border-bottom: 0;
    background-color: #FFF;
    padding: 20px 9px;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

.btn {
    border-radius: 3px;
    border: 1px solid #333;
    background-color: #666;
    background-image: linear-gradient(top, #333, #666);
    background-image: -moz-linear-gradient(top, #333, #666);
    background-image: -ms-linear-gradient(top, #333, #666);
    background-image: -o-linear-gradient(top, #333, #666);
    background-image: -webkit-linear-gradient(top, #333, #666);
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    background-image: none;
    text-decoration: none;
}

.btn:visited, .btn:active, .btn:hover {
    color: #FFF;
}

