#menu-dashboard {
    background-color: #EEE;
    background: url(../img/pixel.png) #EEE repeat-x 0 60px;
}

#menu-dashboard ul {
    display: block;
    font-size: 20px;
    margin: 0 auto;
}

#menu-dashboard ul li {
    display: inline-block;
}

#menu-dashboard ul li a {
    display: block;
    padding: 20px 10px;
}

#menu-dashboard ul li a:hover, #menu-dashboard ul li a.active {
    border: 1px #CCC solid;
    border-bottom: 0;
    background-color: #FFF;
    padding: 20px 9px;
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

#messages {
    background-color: #FFF;
    padding: 20px 0;
}

#messages > .row > div {
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    padding: 15px 20px;
    width: 400px;
}

#messages .success {
    border: 1px solid rgba(50, 90, 0, .2);
    background-color: rgba(100, 255, 0, .4);
    color: rgb(50, 90, 0);
}

#messages .error {
    border: 1px solid rgba(40, 0, 0, .2);
    background-color: rgba(200, 90, 90, .4);
    color: rgb(199, 0, 0);
}
