#profile_form p {
    margin-bottom: 7px;
}

#profile_form p label {
    float: left;
    width: 260px;
}

#profile_form p input, #profile_form p select, #profile_form p textarea {
    width: 250px;
}

#profile_form button {
    margin: 10px 0 0 265px;
}

#profile_form .errorlist {
    margin: 3px 0 2px 265px;
}

#profile_form .errorlist li {
    color: red;
    font-size: 14px;
}
