@media (max-width: 699px) and (min-width: 400px) {

    #pre-register a {
        width: 235px;
        height: 39px;
        float: right;
        text-align: center;
        margin: 11% 8% 0 0;
        padding-bottom: 15px;
        background: url('/static/images/header/sprite.png') #004592 right -52px no-repeat;
        color: #FFF;
        font-size: 1.375em;
    }

    #pre-register span {
        height: 100%;
        width: 90%;
        padding: 15px 0 0 13px;
        display: block;
        background: url('/static/images/header/sprite.png') #004592 -2px -52px no-repeat;
    }

    /** CONTAINERS **/

    #container {
        margin-top: 40px;
    }

    /* #sponsors { */
    /*     background-color: #f0f0f0; */
    /*     border-top: 1px solid #D8D7D4; */
    /*     height: 157px; */
    /*     width: 100%; */
    /* } */

}

@media (max-width: 899px) and (min-width: 700px) {

    #pre-register a {
        width: 235px;
        height: 39px;
        float: right;
        text-align: center;
        margin: 11% 8% 0 0;
        padding-bottom: 15px;
        background: url('/static/images/header/sprite.png') #004592 right -52px no-repeat;
        color: #FFF;
        font-size: 1.375em;
    }

    #pre-register span {
        height: 100%;
        width: 90%;
        padding: 15px 0 0 13px;
        display: block;
        background: url('/static/images/header/sprite.png') #004592 -2px -52px no-repeat;
    }

    /** CONTAINERS **/

    /* #sponsors { */
    /*     background-color: #f0f0f0; */
    /*     border-top: 1px solid #D8D7D4; */
    /*     height: 157px; */
    /*     width: 100%; */
    /* } */

}

/** my macbook **/
@media (min-width: 900px) {
    /** HEADER **/

    #pre-register a {
        width: 235px;
        height: 39px;
        float: right;
        text-align: center;
        margin: 11% 8% 0 0;
        padding-bottom: 15px;
        background: url('/static/images/header/sprite.png') #004592 right -52px no-repeat;
        color: #FFF;
        font-size: 1.375em;
    }

    #pre-register span {
        height: 100%;
        width: 90%;
        padding: 15px 0 0 13px;
        display: block;
        background: url('/static/images/header/sprite.png') #004592 -2px -52px no-repeat;
    }


    /** CONTAINERS **/

    #container {
        margin-top: 40px;
    }

    /* #sponsors { */
    /*     background-color: #f0f0f0; */
    /*     border-top: 1px solid #D8D7D4; */
    /*     height: 157px; */
    /*     width: 100%; */
    /* } */
}

/** COMMON **/

body {
    background-color: #1b1f20;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}


/*** TYPOGRAPHY ***/

.dates h4 {
    color: #004592;
    font-size: 1.25em;
}

.dates p {
    color: #474747;
    margin-top: 5px;
}

#footer p {
    color: #ccc;
    font-size: 0.875em;
    text-align: right;
}

/*** CONTAINERS ***/


.clearfix {
    clear: both;
}

.content {
    background-color: #FFF;
    width: 100%;
}

.dates .inner {
    margin: 15px 20px;
    float: left;
}

.dates .dates-container {
    margin: 0 auto;
    float: none;
}

.dates-container {
    width: 39%;
    float: left;
}

.inner-row {
    margin: 10px 0;
}

.wrapper {
    margin: 0 8%;
}

.dates {
    background: url('/static/images/header/white-dashed-border.png') #efefef repeat-x;
    height: 85px;
}


/*** HEADER ***/

#header {
    height: 280px;
    background: #1b1f20;
}

#header .inner {
    background: url('/static/images/header/sprite.png') #1b1f20 0px -959px no-repeat;
    margin: 0 8%;
    position: relative;
    height: 270px;
}

.dashed-border {
    margin-top: -12px;
    width: 100%;
    height: 6px;
    background: url('/static/images/header/dashed-border.png') #1b1f20 repeat-x;
    position: absolute;
}


/*** MENU ***/

#menu {
    height: 45px;
}

#menu ul {
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 0;
}

#menu li {
    display: inline;
    float: left;
}

#menu li a {
    color: #DDD;
    padding: 10px;
    display: block;
}

#menu li.active {
    background: url('/static/images/header/sprite.png') left 3px no-repeat;
    padding-left: 16px;
}

#menu li.active a {
    background: url('/static/images/header/sprite.png') right 3px no-repeat;
    padding: 10px 16px 10px 0;
}


/*** FOOTER ***/

#footer {
    height: 140px;
    background: url('/static/images/header/sprite.png') #1b1f20 left -538px repeat-x;
}

#footer .inner {
    margin: 0 8%;
}

#footer .about {
    float: right;
    width: 500px;
    margin-top: 40px;
}

#footer .logo {
    display: inline;
    background: url('/static/images/header/sprite.png') -15px -280px no-repeat;
    width: 44px;
    height: 44px;
    margin: 50px 0 0 15px;
    float: right;
}
