#menu {
    height: 45px;
    text-align: right;
}

#menu li {
    margin: 0 25px;
    display: inline;
}

#menu .primeiro {
    margin-left: 0px
}

#menu .ultimo {
    margin-right: 0px;
}

#menu li a {
    color: #fff;
    line-height: 43px;
}

#header {
    background: #1b1f20;
    height: 280px;
    position: relative;
}

#header .logo {
    background: url('/static/images/header/sprite.png') #1b1f20 0px -959px no-repeat;
    height: 100%;
}

/*#header .logo {
    background:url('/static/images/header/logo-python-brasil.png') no-repeat;
    float: left;
    height: 115px;
    margin-top: 60px;
    width: 486px;
}

#header .descricao {
    color: #0a4c7b;
    font-size: 21px;
    left: 210px;
    position: absolute;
    top: 135px;
    text-align: right;
    width: 268px;
}*/

#apoio {
    background-color: #f0f0f0;
    border-top: 1px solid #D8D7D4;
    height: 157px;
    width: 100%;
}

#container {
    margin-top: 40px;
}
