#pre-register a {
    width: 185px;
    height: 39px;
    float: right;
    text-align: center;
    margin: 11% 8% 0 0;
    padding-bottom: 15px;
    background: url('/static/images/header/sprite.png') #004592 right -52px no-repeat;
    color: #FFF;
    font-size: 1.375em;
}

#pre-register span {
    height: 100%;
    width: 160px;
    padding: 15px 0 0 13px;
    display: block;
    background: url('/static/images/header/sprite.png') #004592 -2px -52px no-repeat;
}

#github-ribbon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/** COMMON **/

body {
    background-color: #1b1f20;
}
.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

/* .content .inner { */
/*     padding: 25px 0; */
/* } */

/*** TYPOGRAPHY ***/

.content h1 {
    color: #2471A9;
}

.content h5 {
    color: #484746;
}

.dates h4 {
    color: #004592;
    font-size: 1.25em;
}

.dates p {
    color: #474747;
    margin-top: 5px;
    line-height: 26px;
}

#footer p {
    color: #ccc;
    font-size: 0.875em;
    text-align: right;
    line-height: 18px;
}

/*** CONTAINERS ***/


.clearfix {
    clear: both;
}

.content {
    background-color: #FFF;
    width: 100%;
}

.content .row .row {
    margin: 15px 0;
}

.content .become-a-sponsor {
    font-size: 12px;
    margin-bottom: 20px;
}

.content .become-a-sponsor a {
    float: right;
    color: #2471A9;
}

.dates {
    background-color: #efefef;
    height: 85px;
    border-bottom: 1px solid #ddd;
}

.dates .dates-container {
    margin: 0 auto;
    width: 800px;
}

.dates .inner {
    margin: 15px 70px 15px 0px;
    float: left;
}

.dates .inner.last {
    margin-right: 0;
}

.inner-row {
    margin: 10px 0;
}

.wrapper {
    margin: 0 8%;
}

/*** HEADER ***/

#header {
    height: 280px;
    background: #1b1f20;
}

#header .inner {
    margin: 0 8%;
    position: relative;
    height: 270px;
}

#logo {
    background: url('/static/images/header/sprite.png') #1b1f20 0px -959px no-repeat;
    position: absolute;
}

#logo a {
    display: block;
    height: 270px;
    width: 400px;
    text-indent: -9999px;
}

.dashed-border {
    margin-top: -12px;
    width: 100%;
    height: 6px;
    background: url('/static/images/header/dashed-border.png') #1b1f20 repeat-x;
    position: absolute;
}


/*** MENU ***/

#menu {
    height: 45px;
}

#menu ul {
    padding: 5px 0;
    position: absolute;
    right: 40px;
    top: 5px;
}

#menu li {
    display: inline;
    float: left;
}

#menu li a {
    color: #DDD;
    padding: 10px;
    display: block;
}

#menu li.active {
    background: url('/static/images/header/sprite.png') left 3px no-repeat;
    padding-left: 16px;
}

#menu li.active a {
    background: url('/static/images/header/sprite.png') right 3px no-repeat;
    padding: 10px 16px 10px 0;
}

#language-select {
    right: 50px;
    position: absolute;
    top: 60px;
}

#language-select li {
    float: left;
    margin-left: 10px;
}

#language-select li a {
    display: block;
    color: #ccc;
    font-size: 12px;
}

#language-select .selected a {
    color: white;
}

#language-select .flag {
    display: inline-block;
    height: 11px;
    width: 16px;
    overflow: hidden;
    background-image: url('/static/images/header/flags.png');
}

#language-select .pt-br .flag {
    background-position: 0 0;
}

#language-select .en-us .flag {
    background-position: -18px 0;
}


/*** FOOTER ***/

#footer {
    background-color: #1b1f20;
    padding-bottom: 20px;
}

#footer .about {
    margin-top: 40px;
}

#footer .logo {
    display: inline;
    background: url('/static/images/header/sprite.png') -15px -280px no-repeat;
    width: 44px;
    height: 44px;
    margin: 41px 0 0 20px;
}

h1 {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    line-height: 0.9em;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

