.content .about .what-is {
    padding-bottom: 5px;
}

.content .about .what-is a {
    color: #2471a9;
    font-size: 32px;
    letter-spacing: -1px;
    padding-bottom: 5px;
}

.content .about .inner {
    font-size: 14px;
    line-height: 20px;
}

#sponsors {
    position: relative;
    height: 165px;
}

#sponsors .row {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
}

.animation {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 2s;
    -o-transition-property: opacity;
    -o-transition-duration: 2s;
    -ie-transition-property: opacity;
    -ie-transition-duration: 2s;
    transition-property: opacity;
    transition-duration: 2s;
}

.sponsor {
    text-align: center;
}

.sponsor a {
    line-height: 85px;
}

.sponsor a img {
    display: inline;
    display: inline-table;
    display: inline-block;
    vertical-align: middle;
}

.sponsor span {
    display: block;
    text-align: center;
    border-top: 1px dotted #8DBAC1;
    text-transform: uppercase;
    color: #484746;
    padding-top: 6px;
    margin: 13px 0 0 0;
    width: 130px;
    font-weight: bold;
    font-size: 77%;
}
