.content .about {
    margin: 10px 0;
}

.content .about a {
    color: #2471a9;
    font-size: 22px;
    width: 24%;
    float: left;
}

.content .about .inner {
    font-size: 14px;
    float: right;
    width: 76%;
}
