.content .about .what-is a {
    color: #2471a9;
    font-size: 32px;
    float: left;
    letter-spacing: -1px;
}

.content .become-a-sponsor {
    font-size: 12px;
    margin-bottom: 20px;
}

.content .become-a-sponsor a {
    float: right;
    color: #2471A9;
}

.content .about .inner {
    font-size: 14px;
    float: right;
    line-height: 20px;
}

.sponsor {
    text-align: center;
}

.sponsor a {
    line-height: 85px;
}

.sponsor a img {
    display: inline;
    display: inline-table;
    display: inline-block;
    vertical-align: middle;
}

.sponsor span {
    display: block;
    text-align: center;
    border-top: 1px dotted #8DBAC1;
    text-transform: uppercase;
    color: #484746;
    padding-top: 6px;
    margin: 13px 0 0 0;
    width: 130px;
    font-weight: bold;
    font-size: 77%;
}
