#reset-password form {
    margin-bottom: 20px;
}

#reset-password form .errorlist {
    margin: 7px 0 0 205px;
}

#reset-password form button {
    margin: 5px 0 0 200px;
}

#reset-password form ul li {
    margin-bottom: 2px;
}

#reset-password form ul li input {
    width: 150px;
}

#reset-password form ul li label {
    clear: left;
    float: left;
    width: 200px;
}

#reset-password p {
    margin-bottom: 10px;
}

#reset-password-email-form form {
    margin-top: 17px;
}

#reset-password-email-form form button {
    margin: 7px 0 0 100px;
}

#reset-password-email-form form p input {
    width: 170px;
}

#reset-password-email-form form p label {
    float: left;
    width: 100px;
}

#reset-password-email-form form .errorlist {
    margin: 7px 0 0 105px;
}

form .errorlist {
    color: red;
    font-size: 13px;
}
