/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

.main-logo.column {
    width: 380px;
}

.menu.column {
    width: 540px;
}

/* #Media Queries
================================================== */

    @media only screen and (max-width: 1150px) {
        #github-ribbon {
            display: none;
        }
    }

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {
        #pre-register a {
            margin-top: 20px;
        }

        .dates-wrapper .inner {
            margin: 10px 40px 10px 0;
        }
    }

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .main-logo.column {
            width: 308px;
        }

        .main-logo a {
            background-position: 0 -1260px;
            height: 200px;
            width: 308px;
        }

        .menu.column {
            width: 420px;
        }

        #github-ribbon {
            display: none;
        }
    }

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
        .main-logo.column {
            width: 100%;
        }
        .menu.column {
            margin-top: -30px;
            position: relative;
            width: 100%;
        }

        .menu-inner {
            float: left;
            left: 50%;
            position: relative;
        }

        .menu-inner ul {
            float: left;
            left: -50%;
            position: relative;
        }

        #language-select {
            position: absolute;
            right: 13px;
            top: -8px;
        }

        #pre-register a {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        #social {
            display: none;
        }

        .dates-wrapper .dates-container {
            font-size: 0.8em;
            padding: 10px 0;
        }

        .dates-wrapper .inner {
            margin: 5px 10px 5px 0;
        }

        .dates-wrapper .inner:nth-child(even) {
            margin-right: 0;
            text-align: right;
        }

        .dates-wrapper .inner p {
            line-height: 15px;
        }

        .up_to_date li {
            display: inline-block;
            width: 64px;
        }

        #footer .about p {
            text-align: center;
        }

        #footer .logo {
            margin-top: 24px;
        }

    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .main-logo a {
            background-position: 38px -980px;
            height: 260px;
        }
        .dates-wrapper .inner {
            width: 205px;
        }

        .up_to_date li {
            margin-left: 58px;
        }
    }

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        .main-logo a {
            background-position: 24px -1270px;
            height: 200px;
        }
        .dates-wrapper .inner {
            width: 145px;
        }

        .up_to_date li {
            margin-left: 30px;
        }
    }


/* #Font-Face
================================================== */
/*  This is the proper syntax for an @font-face file
        Just create a "fonts" folder at the root,
        copy your FontName into code below and remove
        comment brackets */

/*  @font-face {
        font-family: 'FontName';
        src: url('../fonts/FontName.eot');
        src: url('../fonts/FontName.eot?iefix') format('eot'),
             url('../fonts/FontName.woff') format('woff'),
             url('../fonts/FontName.ttf') format('truetype'),
             url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
        font-weight: normal;
        font-style: normal; }
*/