{% extends "base.html" %}
{% load menu %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" />
{% endblock %}

{% block greybar %}
<div id="menu-dashboard">
    <div class="wrapper">
        <ul>
            <li>
                <a href="{% url dashboard-index %}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{% url edit-profile %}" title="{% trans "edit your profile" %}">{{ request.user }} ({% trans "Edit your profile" %})</a>
            </li>
            <li>
                <a href="{% url auth:auth_logout %}" title="{% trans "Logout" %}">{% trans "Logout" %}</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
