{% extends "base.html" %}
{% load menu %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard.css" />
{% endblock %}

{% block greybar %}
<div id="menu-dashboard">
    <div class="row">
        <ul>
            <li>
                <a href="{% url dashboard-index %}" title="Dashboard" class="{% is_active request.path 'dashboard-index' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url dashboard-sessions %}" title="{% trans "Proposals" %}" class="{% is_active request.path 'dashboard-sessions' %}">{% trans "Proposals" %}</a>
            </li>
            <li>
                <a href="{% url edit-profile %}" title="{% trans "edit your profile" %}" class="{% is_active request.path 'edit-profile' %}">{{ request.user }} ({% trans "Edit your profile" %})</a>
            </li>
            <li>
                <a href="{% url auth_password_change %}" title="{% trans "Change password" %}" class="{% is_active request.path 'auth_password_change' %}">{% trans "Change password" %}</a>
            </li>
            <li>
                <a href="{% url auth_logout %}?next=/" title="{% trans "Logout" %}" class="{% is_active request.path 'auth_logout' %}">{% trans "Logout" %}</a>
            </li>
        </ul>
    </div>
</div>

{% if messages %}
<div id="messages">
    <div class="row">
        {% for message in messages %}
            <div class="{{message.tags}}">{{message}}</li>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}
