{% extends "dashboard/base.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sessions-dashboard.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="column grid_12">
        <h1>{% trans "Proposals" %}</h1>
        {% if sessions %}
            <p>{% trans "Below you can see a list of your talk proposals. Click in any of them to edit it." %}</p>
            <ul id="proposals">
                {% for session in sessions %}
                <li>- <a href="{% url session-edit id=session.pk %}" title="{% trans "Edit proposal" %}">{{ session.title }}</li>
                {% endfor %}
            </ul>
            <p><a href="{% url session-subscribe %}" title="{% trans "Submit a proposal" %}" class="btn">{% trans "Submit a proposal" %}</a></p>
        {% else %}
        <p>{% trans "You did not submit any proposal yet." %} <a href="{% url session-subscribe %}" title="{% trans "Submit a proposal" %}">{% trans "Why don't you send one?" %}</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
