{% extends "dashboard/base.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/send-proposal.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="send-proposal">
    <div class="column grid_12">
        <h1>{% trans "Send a proposal" %}</h1>
        <p>
            {% trans "Please fill the form below to submit your proposal:" %}
        </p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <p><button type="submit" class="btn">Send</button></p>
        </form>
    </div>
</div>
{% endblock %}
