{% extends "base.html" %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" />
{% endblock %}

{% block content %}
    <div id="sponsors">
        {% for sponsors in sponsor_groups %}
        <div class="row{% if forloop.first %} first{% endif %}">
        {% for sponsor in sponsors %}
            <div class="sponsor column grid_2">
                <a href="{% url custom-sponsors %}" title="{{ sponsor.name }}"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" /></a>
                <span>{{ sponsor.category.name }}</span>
            </div>
        {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="become-a-sponsor column grid_12">
            <a href="{% url sponsors-info %}">{% trans "Learn how to become a sponsor" %}</a>
        </div>
        <div class="about">
            <ul class="multicolumn">
                <li>
                    <h2>{% trans "ARE YOU SPEAKING OR ATTENDING?" %}</h2>
                    <p class="subterm">{% trans "grab a badge" %}</p>
                    <a href="{% url badges %}" class="grab_badge">
                        <img src="{{ STATIC_URL }}images/home/grab_badge.png" alt="Grab a badge">
                    </a>
                </li>
                <li class="fat">
                <h2>{% trans "FROM THE BLOG" %}</h2>
                    <p class="subterm">{% trans "latest news" %}</p>
                    <ul class="news">
                        {% for post in posts %}
                        <li class="fat">
                            <a href="{% url news:main %}#{{ post.slug }}" class="title">{{ post.title }}</a>
                            <p class="date">{% trans "Published on" %} {{ post.published_at }}</p>
                        </li>
                        {% endfor %}
                        <li class="fat">
                            <a href="{% url news:main %}#5" class="title">{% trans "Be a speaker at PythonBrasil[8]!" %}</a>
                            <p class="date">{% trans "Published on September 19 2012" %}</p>
                        </li>
                        <li class="fat">
                            <a href="{% url news:main %}#4" class="title">{% trans "Buy your tickets for PythonBrasil[8] - registration is now available!" %}</a>
                            <p class="date">{% trans "Published on June 4 2012" %}</p>
                        </li>
                        <li class="fat">
                            <a href="{% url news:main %}#3" class="title">{% trans "Keynotes of PythonBrasil[8] - who would you like to see?" %}</a>
                            <p class="date">{% trans "Published on May 15 2012" %} </p>
                        </li>
                        <li class="fat">
                            <a href="{% url news:main %}#2" class="title">{% trans "Choose the books that will be raffled during PythonBrasil[8]" %}</a>
                            <p class="date">{% trans "Published on May 10 2012" %}</p>
                        </li>
                        <li class="fat">
                            <a href="{% url news:main %}#1" class="title">{% trans "PythonBrasil[8] venue is set: SulAmérica Convention Center"%}</a>
                            <p class="date">{% trans "Published on April 23 2012" %}</p>
                        </li>
                    </ul>
                </li>
                <li class="thin">
                    <h2>{% trans "STAY UP TO DATE" %}</h2>
                    <p class="subterm">{% trans "follow us" %}</p>
                    <ul class="up_to_date">
                        <li>
                            <a href="http://www.twitter.com/pythonbrasil" title="PythonBrasil Twitter"><img src="{{ STATIC_URL }}images/home/ico_twitter.png" alt="PythonBrasil Twitter"></a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/pythonbrasil8" title="PythonBrasil[8] Facebook page"><img src="{{ STATIC_URL }}images/home/ico_facebook.png" alt="PythonBrasil Facebook"></a>
                        </li>
                        <li>
                            <a href="" title="PythonBrasil[8] calendar"><img src="{{ STATIC_URL }}images/home/ico_calendar.png" alt="PythonBrasil[8] Calendar"></a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}

{% block js_bottom %}
<script src="/static/js/slider.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.addEvent('domready', function(){
    var slider = new Slider({slides: $$('#sponsors .row')});
    slider.cycle();
});
</script>
{% endblock %}
