{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sponsors" %} | PythonBrasil[8] {% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/sponsors.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="column grid_12">
        <h1>{% trans "PYTHONBRASIL SPONSORS" %}</h1>
    </div>
</div>
<div class="row">
    <div class="column grid_10" id="sponsors-info">
    {% for category in sponsors_categories %}
        {% if category.sponsor_set.all %}
        <div class="row category">
            <h5>{{ category.name }}</h5>
        </div>
        {% for sponsor in category.sponsor_set.all %}
        <div class="row sponsor">
            <div class="column grid_2 first logo">
                <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}" />
            </div>
            <div class="column grid_8 last">
                <h2 id="sponsor-{{ sponsor.id }}">{{ sponsor.name }}</h2>
                <p class="url"><a href="{{ sponsor.url }}">{{ sponsor.url }}</a></p>
                <p class="description">{{ sponsor.description }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="column grid_2">
        <div class="row">
            <a href="{% url sponsors-info %}" class="become">{% trans "Learn how to become a sponsor" %}</a>
        </div>
        <ul class="sponsors-nav">
            {% for category in sponsors_categories %}
                {% for sponsor in category.sponsor_set.all %}
                <li><a href="#sponsor-{{ sponsor.id }}">{{ sponsor.name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
