{% extends "base.html" %}
{% load i18n %}

{% block title %}Venue | PythonBrasil[8] {% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/venue.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="venue">
    <div class="column grid_12">
        <h1>PythonBrasil Sponsoring</h1>
        <p>Interested in hiring talented Python hackers? Sponsor the conference and increase your company visibility.</p>
        <a href="/static/docs/pythonbrasil_prospectus.pdf">Download our sponsoring prospectus</a>
    </div>
</div>
{% endblock %}

