{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Venue" %} | PythonBrasil[8]{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/venue.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="row" id="venue">
    <div class="column grid_12">
        <h1>{% trans "PythonBrasil Venue" %}</h1>

        <h2>Tutorials (21-22 November)</h2>
        <a href="http://www.fgv.br">Fundação Getúlio Vargas</a>
        <p>Praia de Botafogo, 190 - Batafogo - Rio de Janeiro - RJ Cep: 22250-900</p>

        <div class="map">
            <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=FGV+-+Funda%C3%A7%C3%A3o+Getulio+Vargas+-+Praia+de+Botafogo,+Botafogo,+Rio+de+Janeiro,+Brazil&amp;aq=0&amp;oq=fgv+botafogo,+rio+de+jan&amp;sll=37.0625,-95.677068&amp;sspn=38.41771,86.572266&amp;t=m&amp;ie=UTF8&amp;hq=FGV+-+Funda%C3%A7%C3%A3o+Getulio+Vargas+-+Praia&amp;hnear=Botafogo+-+Rio+de+Janeiro,+Brazil&amp;ll=-22.941637,-43.180056&amp;spn=0.018911,0.009467&amp;output=embed"></iframe>
        </div>

        <h2>Conference (23-24 November)</h2>
        <a href="http://www.ccsulamerica.com.br/">Centro de Convenções SulAmérica</a>
        <p>Av: Paulo de Frontin, 1 - Cidade Nova - Centro - Rio de Janeiro - RJ Cep: 20260-010</p>

        <div class="map">
            <iframe width="300" height="200" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Av:+Paulo+de+Frontin,+1+-+Cidade+Nova+-+Centro+-+Rio+de+Janeiro+-+RJ+Cep:+20260-010&amp;aq=&amp;sll=37.406574,-121.974506&amp;sspn=0.072952,0.154324&amp;ie=UTF8&amp;hq=Av:+Paulo+de+Frontin,+1+-+Cidade+Nova+-+Centro+-&amp;hnear=20260-010,+Brazil&amp;t=m&amp;ll=-22.913585,-43.209454&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br />
        </div>

    </div>
</div>
{% endblock %}
